@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #11151a;
  text-align: center; }

body {
  font-size: 18px; }

header {
  background-color: black; }

h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 0 3rem;
  position: relative;
  display: inline-block; }

h1::before {
  position: absolute;
  bottom: -1rem;
  text-align: center;
  display: inline-block;
  content: "";
  width: 10rem;
  height: 3px;
  background-color: #fdc501;
  left: calc(50% - 5rem); }

h3 {
  position: relative;
  padding-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem; }

h3::before {
  position: absolute;
  bottom: -1rem;
  text-align: center;
  display: block;
  content: "";
  width: 10rem;
  height: 3px;
  background-color: #949495;
  left: calc(50% - 5rem); }

h3 h3::before {
  display: inline-block; }

h4 {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 1rem; }

p {
  color: #949495;
  padding: 1rem;
  font-size: 1.2rem; }

strong {
  color: #e21818; }

@media only screen and (min-width: 700px) {
  h1 {
    margin: 2rem 3rem 0; } }
/*
HEADER
*/
.logo {
  z-index: 200;
  height: 4rem;
  width: 8rem;
  background-color: #fdc501;
  border-bottom: 1px solid #505457; }

.logo img {
  height: 2rem;
  width: 4rem;
  margin: 1rem 2rem; }

.social-header {
  display: none; 
}
/*
MENU
*/

#menuPrincipale {
  position: fixed;
  top: -4rem; }

.l-main-menu.open {
  transform: translateX(0%);
  transition: transform 0.5s; }

.l-main-menu {
  height: calc(100vh + 4rem);
  background-color: black;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  z-index: 500;
  transform: translateX(-100%);
  border-bottom: 1px solid #505457;
  transition: transform 0.5s; }

.l-main-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: auto; }

.l-main-menu li {
  padding: 6px 0; }

.l-main-menu a {
  position: relative;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0;
  color: white;
  transition: 0.5s;
  margin: 1rem 0;
  text-align: center; }

.l-main-menu a::after {
  position: absolute;
  content: "";
  top: 85%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fdc501;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s; }

.l-main-menu a:hover {
  color: #949495; }

.l-main-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: right; }

@media only screen and (min-width: 700px) {
  .logo {
    position: fixed; }
  #menuPrincipale {
    position: fixed;
    top: 0; }
  .nav-hamburger {
    display: none; }
  .l-main-menu {
    left: 8rem;
    transform: translateX(0%);
    height: 4rem;
    width: calc(100% - 8rem);
    font-size: 1.3rem;
    transition: transform 0.1s; }
  .l-main-menu ul {
    flex-direction: row;
    vertical-align: center; }
  .l-main-menu a {
    margin: 0 .9rem; }
  .l-main-menu a::after {
    top: 105%; } }
@media only screen and (min-width: 1100px) {
  .l-main-menu {
    font-size: 1.5rem; }
  .l-main-menu a {
    margin: 0 2rem; }
  .l-main-menu a::after {
    top: 96%; }
  footer {
    padding: 0 20rem; } }
/*
HAMBURGER
*/
.burger-box {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 501; }

.nav-hamburger {
  --color: #fff;
  width: 36px;
  height: 36px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 501;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent; }

.nav-hamburger svg {
  width: 64px;
  height: 48px;
  top: -6px;
  left: -14px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute; }

.nav-hamburger svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0); }

.nav-hamburger svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px; }

.nav-hamburger svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px; }

.nav-hamburger.active svg path {
  --offset: 57px; }

.nav-hamburger.active svg path:nth-child(1), .nav-hamburger.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1); }

.nav-hamburger.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px; }

.nav-hamburger.active svg path:nth-child(3) {
  --offset: 58px; }
/*
LAYOUT
*/
.wrap {
  max-width: 1400px;
  margin: 0 auto; }

.colored {
  color: #fdc501; }
/*
FOOTER
*/
footer {
  position: relative;
  background-color: black;
  text-align: center;
  padding: 0 1rem; }

footer a {
  text-decoration: none;
  color: #fdc501;
  font-weight: bold; }

footer #top {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 3rem);
  background-color: #e64e04;
  color: white;
  text-decoration: none;
  padding: 1rem;
  transform: perspective(50px) translateZ(0px);
  transition: transform 100ms linear; }

footer #top:hover {
  transform: perspective(50px) translateZ(2px); }

footer .copyright {
  margin-top: 3rem; }

footer .social-footer {
  margin: 0 auto;
  width: 20rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid #949495; }

footer .social-footer .fab {
  cursor: pointer;
  font-size: 1.2rem;
  color: #949495;
  margin: 0 .5rem;
  transform: perspective(50px) translateZ(0px);
  transition: transform 100ms linear; }

footer .social-footer .fab:hover {
  transform: perspective(50px) translateZ(5px); }

footer .logo-footer {
  color: #949495;
  margin: 2rem 0;
  height: 4rem;
  width: 8rem;
  display: inline-block; }

footer .logo-footer img {
  color: #949495; }

@media only screen and (min-width: 700px){
  footer .social-footer{
    width: 25rem;
  }
  footer .social-footer .fab {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  
}
.section-home {
  min-height: 50rem;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 60%; }

.section-home p {
  padding: 2rem;
  line-height: 2rem;
  font-size: 2rem; }

.titre-ban {
  padding-top: 5rem;
  margin-bottom: 5rem; }

@media only screen and (min-width: 700px) {
  .section-home {
    text-align: left;
    padding-right: 10rem;
    padding-left: 5rem;
    height: auto; }
  .section-home h1 {
    padding-top: 5rem;
    margin-top: 5rem;
    text-align: left; }
  .section-home h1::before {
    left: 0; }
  .section-home p {
    padding-bottom: 3rem; } }
@media only screen and (min-width: 1100px) {
  .section-home {
    padding-left: 10rem; }
  .section-home h1 {
    font-size: 3rem;
    margin-top: 5rem; }
  .section-home p {
    font-size: 3rem;
    margin-top: 5rem; } }

.section-banner {
  background-color: #fdc501; }

.section-banner p {
  padding: 2rem 1rem;
  color: white; }

.section-banner img {
  height: 8rem;
  width: 8rem;
  margin-bottom: 2rem;
  border-radius: 100%;
  position: relative;
  border: 10px solid white; }

.section-banner .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -1rem; }

@media only screen and (min-width: 700px) {
  .section-banner {
    padding: 2rem 5rem; } }

.section-contact {
  width: 100%; }

.section-contact h3 {
  color: white; }

.section-contact form {
  display: flex;
  flex-direction: column; }

.section-contact form div {
  padding: 1rem 0; }

.section-contact input {
  width: calc(100% - 4rem);
  height: 2rem;
  font-family: inherit;
  font-size: inherit; }
input, textarea {
  background-color : #5a5656;
  color : white;
  border: none;
}
.section-contact #message {
  width: calc(100% - 4rem);
  height: 10rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: inherit;
  padding-top: .5rem; }

.section-contact #send {
  /*element flex dc pas besoin de padding horizontal. il prend toute la largeur du parent(a verifier)*/
  padding: 1rem 0;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #fdc501;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
  transform: perspective(50px) translateZ(0px);
  transition: transform 100ms linear; }

.section-contact #send:hover {
  transform: perspective(50px) translateZ(0.5px); }

.section-contact h4 {
  color: #fdc501;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 2rem; }

.section-contact p {
  text-align: left;
  margin: 2rem 0;
  padding: 0 2rem; }

.section-contact .info {
  margin-bottom: 5rem; }
.numbers{
  display: inline-block;
  width: 5rem;
}
@media only screen and (min-width: 700px) {
  .contacts {
    display: flex; }

  .formulaire, .info {
    width: 50%; }

  .info {
    padding-bottom: 2rem; }

  .info p {
    margin-top: 1rem; } }

.section-works {
  position: relative;
  background-color: black; }

.section-works h3 {
  color: white; }

.bnt-more {
  position: absolute;
  top: -1.5rem;
  background-color: #e64e04;
  color: white;
  text-decoration: none;
  padding: 1rem;
  z-index: 100;
  left: calc(50% - 69px);
  transform: perspective(50px) translateZ(0px);
  transition: transform 100ms linear; }

.bnt-more:hover {
  transform: perspective(50px) translateZ(2px); }

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3rem;
  flex-wrap: wrap;
  width: 100%; }

.gallery img {
  width: 50%;
  height: auto; }

@media only screen and (min-width: 700px) {
  .bnt-more {
    left: 75%; }
  .gallery img {
    width: calc(100% / 3); }
  .wrap-gallery {
    padding: 0 2rem; } }
@media only screen and (min-width: 1100px) {
  .gallery img {
    width: calc(100% / 4); } }

.section-our-services h3 {
  color: white; }

.services {
  padding-bottom: 5rem; }

.service {
  line-height: 1.5rem;
  padding-bottom: 1rem; }

.service h4 {
  text-align: left;
  color: #fdc501;
  margin: 1rem 1rem; }

.service p {
  text-align: left;
  margin: 0 1rem; }

@media only screen and (min-width: 700px) {
  .services {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .service {
    width: 50%; }
  .service h4 {
    margin: 1rem 0; }
  .service p {
    margin: 0; } }

@media only screen and (min-width: 1100px) {
  .service {
    width: 33.33%; } }

.section-who-are-we {
  background-color: black; }

.section-who-are-we h3 {
  color: white; }

.are {
  line-height: 1.5rem;
  padding-bottom: 1rem; }

.are h4 {
  text-align: left;
  padding-left: 0;
  color: #fdc501;
  margin: 1rem 2rem; }

.are p {
  text-align: left;
  margin: 0 2rem;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 700px) {
  .ares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .ares .are {
    width: 50%; } }

.section-our-team {
  text-align: left;
  padding-left: 1rem;
  background-color: black; }

.section-our-team img {
  width: 7rem;
  height: 7rem;
  margin-left: 1rem; }

.section-our-team h3 {
  color: white;
  text-align: center;
  margin-bottom: 2rem; }

.team {
  padding-top: 1rem;
  display: flex;
  flex-direction: row; }

.col-team-1 {
  width: 33%; }

.col-team-2 {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.name {
  color: #fdc501;
  font-size: 1.3rem; }

.col-team-2 .job {
  font-size: 1rem;
  color: white; }

.social-team {
  padding-left: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  width: 12rem; }

.social-team .fab {
  color: white;
  font-size: 1.2rem;
  transform: perspective(50px) translateZ(0px);
  transition: transform 100ms linear; }

.social-team .fab:hover {
  transform: perspective(50px) translateZ(2px); }

@media only screen and (min-width: 700px) {
  .section-our-team {
    max-width: 100%;
    padding: 0 1rem; }
  .section-our-team p {
    padding-left: 0; }
  .section-our-team img {
    margin-left: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto; }
  .section-our-team .social-team {
    padding-left: 0; }
  .team {
    flex-direction: column;
    justify-content: center;
    text-align: left; }
  .col-team-1 {
    width: 100%; }
  .col-team-2 {
    width: 100%; }
  .col-team-2 h4 {
    padding: 0.5rem 0; }
  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .member {
    width: 30%; } }
@media only screen and (min-width: 1100px) {
  .member {
    width: 24%; } }
