/*
HEADER
*/

.logo{
    height: 4rem;
    width: 8rem;
    background-color: map-get($colors, color2);
    img{
        height: 2rem;
        width: 4rem;
        margin: 1rem 2rem;
    }
}
.social-header{
    display: none;
}
/*
MENU

#menuPrincipale{
    display: none;
}*/
#menuPrincipale {
    position: fixed;
    margin-top: -4rem;
    }
.l-main-menu.open{
    transform: translateX(0%);
    
} 
.l-main-menu{
    height: 100vh;
    background: black;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    z-index: 500;
    transform: translateX(-100%);
    
    
    

    
    ul{
        display: flex;
        flex-direction: column;
        
        list-style-type: none;
        margin: auto;
        
    }
    li{
        padding: 6px 0;
        
    }    
    a{
        position: relative;
        list-style: none;
        text-decoration: none;
        display: block;
        padding: 1rem 0;
        color: map-get($colors, color1);
        transition: 0.5s;
        margin: 1rem 0;
        text-align: center;

        &::after {
            position: absolute;
            content: "";
            top: 85%;
            left: 0;
            width: 100%;
            height: 3px;
            background: map-get($colors, color2);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s;
        }

        &:hover {
            color:  map-get($colors, color4);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: right;
        }
        

    }
}
@media only screen and (min-width: 700px){
    .nav-hamburger{
        display: none;
    }
    .l-main-menu{
        transform: translateX(0%);
        height: 4rem;
        background: black;
        font-size: 1rem;
        ul{
            
            flex-direction: row;
            vertical-align: center;
            background: black;
            
        }
        a{
            margin:0 .5rem;
            &::after {
                top: 110%;
            }
        }
    }
}
@media only screen and (min-width: 1100px){
    .l-main-menu{
        
        font-size: 1.5rem;
        
        a{
            margin: 0 2rem;
            &::after {
                top: 100%;
            }
        }
    }
    
    footer{
        padding: 0 20rem;
    }
}
/*
HAMBURGER
*/
.burger-box{
    position: fixed;
    right: 1rem;
    top:1rem;
    z-index: 501;
}
.nav-hamburger {
    --color: #fff;
    width: 36px;
    height: 36px;
    position: fixed;
    right: 1rem;
    top:1rem;
    z-index: 501;
    outline: none;
    
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    svg {
        width: 64px;
        height: 48px;
        top: -6px;
        left: -14px;
        stroke: var(--color);
        stroke-width: 4px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        display: block;
        position: absolute;
        path {
            transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
            stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
            stroke-dashoffset: var(--offset, 126px);
            transform: translateZ(0);
            &:nth-child(2) {
                --duration: .7s;
                --easing: ease-in;
                --offset: 100px;
                --array-2: 74px;
            }
            &:nth-child(3) {
                --offset: 133px;
                --array-2: 107px;
            }
        }
    }
    &.active {
        svg {
            path {
                --offset: 57px;
                &:nth-child(1),
                &:nth-child(3) {
                    --delay: .15s;
                    --easing: cubic-bezier(.2, .4, .2, 1.1);
                }
                &:nth-child(2) {
                    --duration: .4s;
                    --offset: 2px;
                    --array-1: 1px;
                }
                &:nth-child(3) {
                    --offset: 58px;
                }
            }
        }
    }
}


/*
LAYOUT
*/

.wrap{
    max-width: 1400px;
    margin: 0 auto;
}
.colored{
    color: map-get($colors, color2);
}

/*
FOOTER
*/
footer{
    position: relative;
    background-color: black;
    text-align: center;
    padding: 0 1rem;
    a{
        text-decoration: none;
        color: map-get($colors, color2);
        font-weight: bold;
    }
    #top{
        position: absolute;
        top: -1.5rem;
        left: calc(50% - 3rem);
        background-color: map-get($colors, color3);
        color: map-get($colors, color1);
        text-decoration: none;
        padding: 1rem;
    }

    .copyright{
        margin-top: 3rem;
    }
    .social-footer{
        margin: 0 auto;
        width : 25rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        display:flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 2px solid map-get($colors, color4);

        
        .fab{
            font-size: 1.5rem;
            color: map-get($colors, color4);
            margin: 0 1rem;
        }
    }
    .logo-footer{
        color: map-get($colors, color4);
        margin: 4rem 0;
        height: 4rem;
        width: 8rem;
        display: inline-block;

        img{
            color: map-get($colors, color4);
        }
    }
    
}




