@charset "UTF-8";
/* ordre d'importation des fichiers */
/*ici creer les variable avec ex: tableau de couleur*/
/* 
RESET
*/
@import url(https://fonts.googleapis.com/css?family=Lato);
/* line 4, sass/base/_reset.scss */
html {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0; }

/* line 11, sass/base/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
  outline: transparent;
  -webkit-tap-highlight-color: transparent; }

/* line 17, sass/base/_reset.scss */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

/* line 23, sass/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 27, sass/base/_reset.scss */
img {
  max-width: 100%;
  height: auto; }

/*ici touts les balises génériques*/
/* line 2, sass/base/_base.scss */
html {
  background: #002925; }

/* line 6, sass/base/_base.scss */
body {
  color: white;
  font-family: "Arial";
  font-size: 15px;
  width: 100%; }

/* line 14, sass/base/_base.scss */
section {
  height: 100vh; }

/* line 23, sass/base/_base.scss */
h1 {
  color: #EBC72F;
  font-family: "Lato"; }

/* line 28, sass/base/_base.scss */
h2 {
  font-family: "Lato"; }

/* line 36, sass/base/_base.scss */
img {
  width: 100%;
  height: auto; }

/* line 42, sass/base/_base.scss */
.relative {
  height: 100%;
  width: 100%;
  position: absolute; }

/*
MENU
*/
/* line 4, sass/layout/_layout.scss */
#menuPrincipale {
  position: fixed; }

/* line 8, sass/layout/_layout.scss */
.l-main-menu {
  font-size: 1rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #002925;
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: 500;
  width: 100%; }
  /* line 21, sass/layout/_layout.scss */
  .l-main-menu::after {
    content: "";
    min-height: 1rem;
    min-width: 1rem;
    transform: rotate(45deg);
    background: #A1709B;
    position: absolute;
    top: 50%;
    right: -.5rem;
    z-index: 501; }

/* line 34, sass/layout/_layout.scss */
.hambreaker {
  height: .9rem;
  width: .1rem;
  background: #EBC72F;
  position: fixed;
  top: 3.1rem;
  right: .1rem;
  z-index: 501; }

/* line 46, sass/layout/_layout.scss */
.hambreaker.unvisible {
  display: none; }

/* line 50, sass/layout/_layout.scss */
.l-main-menu.open {
  transform: translateX(0%);
  transition: transform 0.4s; }

/* line 58, sass/layout/_layout.scss */
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none; }
  /* line 64, sass/layout/_layout.scss */
  ul li {
    padding: 6px 0; }
    /* line 67, sass/layout/_layout.scss */
    ul li a {
      position: relative;
      display: block;
      padding: 1rem 0;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      margin: 1rem 0; }
      /* line 78, sass/layout/_layout.scss */
      ul li a::after {
        position: absolute;
        content: "";
        top: 70%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #EBC72F;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s; }
      /* line 91, sass/layout/_layout.scss */
      ul li a:hover {
        color: #fc1bde; }
      /* line 95, sass/layout/_layout.scss */
      ul li a:hover::after {
        transform: scaleX(1);
        transform-origin: left; }

@media only screen and (min-width: 800px) {
  /* line 105, sass/layout/_layout.scss */
  .l-main-menu.open {
    transform: translateX(0%);
    transition: transform 0.4s; }
  /* line 110, sass/layout/_layout.scss */
  .l-main-menu {
    width: 100%;
    justify-content: flex-start, space-between;
    align-items: start;
    transform: translateX(0%);
    height: 6rem; }
    /* line 116, sass/layout/_layout.scss */
    .l-main-menu:before {
      display: none; }
    /* line 119, sass/layout/_layout.scss */
    .l-main-menu:after {
      display: none; }
  /* line 124, sass/layout/_layout.scss */
  ul {
    flex-direction: row; }
  /* line 127, sass/layout/_layout.scss */
  li {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 0; }
  /* line 131, sass/layout/_layout.scss */
  .hambreaker {
    display: none; } }

/*
HAMBURGER
*/
/* line 140, sass/layout/_layout.scss */
.wrapper {
  width: 100px;
  height: 100px;
  position: fixed;
  right: -2rem;
  top: 4rem;
  transform: translate(-50%, -50%);
  z-index: 500; }

/* line 149, sass/layout/_layout.scss */
.nav-hamburger {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  background-color: transparent;
  border-style: none;
  outline: none;
  cursor: pointer; }

/* line 162, sass/layout/_layout.scss */
.nav-hamburger span {
  width: 100%;
  height: 5px;
  background-color: #EBC72F;
  display: block;
  position: absolute;
  border-radius: 2px;
  transition: all 0.5s ease;
  border: #A1709B 1px solid; }

/* line 173, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(1) {
  top: 0px;
  left: 0px; }

/* line 177, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(2) {
  top: 20px;
  right: 0px; }

/* line 181, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(3) {
  top: 40px;
  left: 0px; }

/* line 185, sass/layout/_layout.scss */
.nav-hamburger.broken span:nth-child(2) {
  animation: span2 1.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4); }

@keyframes span2 {
  0% {
    transform: translate(0, 0) scale(1); }
  20% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 0) scale(1); }
  40% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 0) scale(1); }
  50% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 18px) scale(1); }
  80% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, -16px) scale(1); }
  100% {
    width: 5px;
    border-radius: 50%;
    transform: translate(0, 100px) scale(0); } }

/* line 218, sass/layout/_layout.scss */
.nav-hamburger.broken span:nth-child(3) {
  animation: span3 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation-delay: 0.7s; }

@keyframes span3 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: rotate(80deg) translate(-7px, -7px); }
  100% {
    transform: rotate(45deg) translate(-7px, -7px); } }

/* line 233, sass/layout/_layout.scss */
.nav-hamburger.broken span:nth-child(1) {
  animation: span1 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation-delay: 1.1s; }

@keyframes span1 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: rotate(-110deg) translate(-7px, -7px); }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px); } }

/* line 248, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(1) {
  animation: span1_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4); }

@keyframes span1_close {
  0% {
    transform: rotate(-45deg) translate(-20px, 20px); }
  100% {
    transform: rotate(0deg) translate(0, 0); } }

/* line 259, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(2) {
  animation: span2_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4); }

@keyframes span2_close {
  0% {
    transform: translate(0, 40px) scale(0); }
  100% {
    transform: translate(0, 0) scale(1); } }

/* line 270, sass/layout/_layout.scss */
.nav-hamburger span:nth-child(3) {
  animation: span3_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4); }

@keyframes span3_close {
  0% {
    transform: rotate(45deg) translate(-7px, -7px); }
  100% {
    transform: rotate(0deg) translate(0, 0); } }

@media only screen and (min-width: 800px) {
  /* line 283, sass/layout/_layout.scss */
  .wrapper {
    display: none; } }

/* line 5, sass/modules/_section-home.scss */
.relative h1:nth-child(1) {
  top: 35%;
  position: absolute;
  color: white;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 8rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(70, end) forwards; }

/* line 20, sass/modules/_section-home.scss */
.relative h1:nth-child(2) {
  bottom: 10rem;
  position: absolute;
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: auto auto auto 8rem;
  background: linear-gradient(to right, white, #A1709B);
  font-weight: 800;
  font-size: 25px;
  width: 5.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2.2s steps(70, end) 2s forwards, blink 0.5s step-end infinite alternate; }

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0; }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #EBC72F; }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid #EBC72F; }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid #EBC72F; } }

@keyframes type {
  0% {
    width: 0; }
  1%, 99% {
    border-right: 1px solid #EBC72F; }
  100% {
    border-right: none; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

/* line 2, sass/modules/_section-presentation.scss */
.title-presentation {
  left: 1rem;
  top: 3rem;
  position: absolute;
  color: #EBC72F; }

/* line 9, sass/modules/_section-presentation.scss */
.q1 {
  position: absolute;
  top: 7rem;
  font-size: 12px;
  left: 2rem;
  margin: 0 2rem 0 0; }

/* line 17, sass/modules/_section-presentation.scss */
.text-presentation {
  position: relative;
  top: 11rem;
  margin: 0 1rem; }

/* line 23, sass/modules/_section-presentation.scss */
.q2 {
  position: absolute;
  top: 29rem;
  font-size: 12px;
  right: 2rem; }

/* line 31, sass/modules/_section-presentation.scss */
.skills {
  top: 33rem;
  position: absolute;
  height: 3rem;
  width: 100%;
  background: #EBC72F;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  /* line 40, sass/modules/_section-presentation.scss */
  .skills i {
    font-size: 2rem;
    color: #A1709B;
    margin: auto 0; }

/* line 49, sass/modules/_section-presentation.scss */
.colored {
  color: #EBC72F; }

/* line 1, sass/modules/_section-works.scss */
.section-works {
  height: auto;
  position: relative; }

/* line 7, sass/modules/_section-works.scss */
.title-works {
  left: 1rem;
  top: 2rem;
  position: relative;
  color: #EBC72F;
  margin-bottom: 1rem;
  width: 10rem; }

/* line 16, sass/modules/_section-works.scss */
.gallery {
  top: 30rem;
  position: relative;
  top: 1rem; }
  /* line 21, sass/modules/_section-works.scss */
  .gallery img {
    padding: .5rem 0; }

/* line 1, sass/modules/_section-contact.scss */
.section-contact {
  position: relative;
  bottom: -95rem; }

/* line 10, sass/modules/_section-contact.scss */
.contact {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto; }

/* line 16, sass/modules/_section-contact.scss */
svg {
  width: 1rem;
  height: 1rem; }
