/*ici touts les balises génériques*/
html{
    background-color: map-get($colors, main);
    text-align: center;
}

body{
    font-size: 15px;
}
header{
    background-color: black;
    border-bottom: 1px solid map-get($colors, color5)
}

h1{
    font-size: 3rem;
    color:map-get($colors, color1);
    text-align: center;
    margin: 0 3rem;
    position: relative;
    display: inline-block;
}
h1::before {  
	position : absolute;  
    bottom: -1rem;
    text-align: center;
	display:inline-block;
	content: "";
    width: 10rem; 
	height: 3px;
    background-color: map-get($colors, color2);
    
    left: calc(50% - 5rem);
}

h3 {
    position : relative;
    padding-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    
}
h3::before {  
	position : absolute;  
    bottom: -1rem;
    text-align: center;
	display: block;
	content: "";
    width: 10rem; 
	height: 3px;
    background-color: map-get($colors, color4);
    left: calc(50% - 5rem);
}

h3 h3::before{
    display:inline-block;
}
h4{
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
}
p{
    color: map-get($colors, color4);
    padding: 1rem;
    font-size: 1.2rem;
    
}

strong{
    color: rgb(226, 24, 24);
}


