/*ici creer les variable avec ex: tableau de couleur*/


$colors: (
    main   :        #11151a,
    color1 :        rgb(255, 255, 255),
    color2 :        #fdc501,
    color3 :        #e64e04,
    color4 :        #949495,
    color5 :        #505457,     
);

$fonts: (
    main:       'Arial',
    title:      'Lato'
);

